*.local
*.exe
*.identcache
*.dres
*.rsm
__history
*.log
versioninfo.inc
versioninfo.rc
versioninfo.res
*.dcu
*.drc
*.dsk
*.map
*.~dsk
app/dll/HelloWorld/HelloWorld.res
*.skincfg
app/dll/HelloWorld/Win64/
app/dll/OAuth2/OAuth2.res
app/dll/OAuth2/Win64/
app/dll/OAuth2/OAuth2Resource.rc
app/dwlserver/dwlserver_debug/dwlserver_debug.res
app/dwlserver/dwlserver_debug/Win64/
app/dwlserver/dwlserver_sv/dwlserver_sv.res
app/dwlserver/dwlserver_sv/Win64/
package/DWL/DWL.res
app/dll/DisCo/DisCo.res
app/dll/DisCo/Win64/
package/DiscoIDE/DisCoIde.res
app/tools/cocon/CoCon.res
app/tools/DiscoAgent/Win64/
app/tools/DisCoAgent/DisCoAgent.res
app/dll/DaJson/DaJson.res
app/dll/DaJson/Win64/
